:root {
	--dark: #222;
	--font: #fff;
	--red: #e74c3c;
	--green: #2ecc71;
}

body {
	background-color: var(--dark);
	color: var(--font);
}

.main-wrapper {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-family: "Helvetica Neue";
	width: 80vw;
	height: 80vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.main-wrapper > div {
	padding: 1em 0 1em 0;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: auto;
}

.type {
	text-align: center;
	margin: .5em 1em;
}

#adjusters {
	display: flex;
	justify-content: space-around;
}

#break, #session, #time-display {
	width: 15em;
	padding: .5em 0 .5em;
	position: relative;
}

#minusBreak, #plusBreak, #minusSession, #plusSession {
	font-size: 2em;
	cursor: pointer;
}

#minusBreak:hover, #minusSession:hover{
	color: var(--red);
}

#plusBreak:hover, #plusSession:hover {
	color: var(--green);
}

#breakValue, #sessionValue {
	display: flex;
	align-items: center;
}

#time-display {
	width: 10em;
	margin: auto;
	text-align: center;
}

#break:before, #session:before, #time-display:before, 
#break:after, #session:after, #time-display:after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
}

#break:before, #session:before, #time-display:before {
	left: 0;
	top: 0;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

#break:after, #session:after, #time-display:after {
	bottom: 0;
	right: 0;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}