:root {
	--dark: #222;
	--font: #fff;
	--red: #e74c3c;
	--green: #2ecc71;
	--blue: #3498db;
}

body {
	background-color: var(--dark);
	color: var(--font);
}

.main-wrapper {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-family: "Helvetica Neue";
	width: 80vw;
	height: 95vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-weight: 200;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.main-wrapper > div {
	padding: 1em 0 1em 0;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: auto;
}

.type {
	text-align: center;
	margin: .5em 1em;
}

#adjusters {
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: 80%;
}

#break, #session, #time-display {
	width: 15em;
	padding: .5em 0 .5em;
	position: relative;
}

#break:hover:before, #session:hover:before, #time-display:hover:before, 
#break:hover:after, #session:hover:after, #time-display:hover:after {
	border-color: var(--blue);
}

#minusBreak, #plusBreak, #minusSession, #plusSession {
	font-size: 2em;
	cursor: pointer;
}

#minusBreak:hover, #minusSession:hover{
	color: var(--red);
}

#plusBreak:hover, #plusSession:hover {
	color: var(--green);
}

#breakValue, #sessionValue {
	display: flex;
	align-items: center;
}

#time-display {
	width: 10em;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

#break:before, #session:before, #time-display:before, 
#break:after, #session:after, #time-display:after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	transition: border-color .3s ease;
}

#break:before, #session:before, #time-display:before {
	left: 0;
	top: 0;
	border-top: 1px solid white;
	border-left: 1px solid white;
}

#break:after, #session:after, #time-display:after {
	bottom: 0;
	right: 0;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

#animation {
	flex-grow: 1;
	width: 100%;
}