:root {
	--dark: #222;
	--light: #555;
	--red: #e74c3c;
	--green: #2ecc71;
	--sky: #87CEEB;
	--blue: #3498db;
	--hover: #e67e22;
	--default: #fff;
}

html {
	margin: 0;
}

body {
	background: #222;
	height: 100%;
	color: var(--default);
}

.main-wrapper {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-family: "Helvetica Neue", sans-serif;
	width: 80vw;
	height: 95vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-weight: 200;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
}

@media screen and (max-width: 600px) {
	.main-wrapper {
		width: 95vw;
		height: 100vh;
		font-size: 14px;
	}

	.main-wrapper #adjusters {
		width: 100%;
	}

	.main-wrapper #break, .main-wrapper #session, .main-wrapper #time-display {
		width: 10em;
	}
}

.main-wrapper > div {
	padding: 1em 0 1em 0;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
}

.type {
	text-align: center;
	margin: .5em .5em;
}

#adjusters {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 80%;
}

#break, #session, #time-display {
	width: 15em;
	padding: .5em 0 .5em;
	position: relative;
	transition: color .3s ease;
}

#break:hover:before, #session:hover:before, #time-display:hover:before, 
#break:hover:after, #session:hover:after, #time-display:hover:after,
#break:hover, #session:hover, #time-display:hover {
	border-color: var(--hover);
	color: var(--hover);
}

#minusBreak, #plusBreak, #minusSession, #plusSession {
	font-size: 2em;
	cursor: pointer;
}

#minusBreak:hover, #minusSession:hover{
	color: var(--red);
}

#plusBreak:hover, #plusSession:hover {
	color: var(--green);
}

#breakValue, #sessionValue {
	display: flex;
	align-items: center;
}

#time-display {
	width: 10em;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

#break:before, #session:before, #time-display:before, 
#break:after, #session:after, #time-display:after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	transition: border-color .3s ease;
}

#break:before, #session:before, #time-display:before {
	left: 0;
	top: 0;
	border-top: 2px solid var(--default);
	border-left: 2px solid var(--default);
}

#break:after, #session:after, #time-display:after {
	bottom: 0;
	right: 0;
	border-bottom: 2px solid var(--default);
	border-right: 2px solid var(--default);
}

#animation {
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
}

#canvas {
	width: 100%;
	height: 100%;
}